@font-face {
  font-family: "Freebooter Regular";
  src: url("../font/Freebooter Regular.ttf");
}

html, body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  background: #fffef0;
}

body {
  color: #5A5C5E;
  font-family: sans-serif;
}

a {
  color: #5580b5;
  text-decoration: none;
  transition: color .5s;
}
a:hover {
  color: #88a6cb;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Freebooter Regular", sans-serif;
  margin-top: .1em;
  margin-bottom: .1em;
}

h1 { font-size: 40pt; }
h2 { font-size: 36pt; }
h3 { font-size: 32pt; }
h4 { font-size: 28pt; }
h5 { font-size: 24pt; }
h6 { font-size: 20pt; }

#container {
  max-width: 900px;
  margin: 0 auto;
}

#container #header {
  font-family: "Freebooter Regular", sans-serif;
  text-align: center;
}

#container #header h1 {
  color: #3a454c;
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0;
}

#container #header h1 a {
  color: #3a454c;
}

#container #header h1 img {
  width: 1em;
  margin-right: .1em;
  vertical-align: middle;
}

#container #header h1 small {
  font-size: 0.9em;
  color: #bac4cb;
}

#container #header #nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#container #header #nav ul li {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}

#container #header #nav ul li a {
  font-size: 3em;
  color: #6B6B6B;
}

#container #header #nav ul li a:hover {
  color: black;
}

#container #content {
}

#container #content .posts {
  margin-bottom: 1em;
}

#container #content .post {
  padding-bottom: 2em;
}

#container #content .posts .post {
 padding-bottom: 1em;
}

#container #content .post .title {
  margin-top: .1em;
  margin-bottom: .1em;
  font-size: 3em;
  text-align: center;
}

#container #content .post .title a {
  color: #636363;
}

#container #content .post .title a small {
  right: 0;
  font-size: 60%;
  color: #999999;
  margin-left: .5em;
  vertical-align: middle;
}

#container #content .post p {
  margin: 0;
  font-size: 16pt;
}

#container #content .posts .post p {
  font-size: 15pt;
}

#container #content .post pre {
  padding: 1em;
}

#container #content .post .gist {
  margin-top: 1em;
  margin-bottom: 1em;
}

#container #content .post .gist .highlight {
  width: 100%;
  overflow-x: auto;
  font-size: 12pt;
}