---
layout: default
title: Captain's Changelog
---

<div id="home" class="posts">
    {% for post in site.posts %}
    {% assign content = post.content | split: "<!--more-->" %}
    <div class="post">
      <h1 class="title"><a href="{{ post.url }}">
      {% if post.custom_title %}{{ post.custom_title }}{% else %}{{ post.title }}{% endif %} 
      <small>{{post.date | date_to_string}}</small></a></h1>
      <div class="content">{{ content[0] }}</div>
      {% if content[1] %}
      <a class="more" href="{{ post.url }}">Keep reading</a>
      {% endif %}
    </div>
    {% endfor %}
</div>