<div class="whoami">
{% highlight bash %}
$ whoami

Nick Shvelidze - Front End / Android developer
Location: Tbilisi, Georgia
I ❤ Ruby
{% endhighlight %}
</div>
<div class="links">
	<a href="http://plus.google.com/u/0/109510926758335973804" title="Google+">
	<i class="icon-google-plus-sign"></i> Nick Shvelidze</a>

	<a href="http://github.com/shvelo" title="GitHub">
	<i class="icon-github"></i> shvelo</a>

	<a href="http://twitter.com/shvelo96" title="Twitter">
	<i class="icon-twitter"></i> shvelo96</a>

	<a href="http://coderbits.com/shvelo" title="Coderbits">
	<i class="icon-code"></i> shvelo</a>
</div>
<div style="clear:both"></div>