<div class="whoami">
<div class="highlight">
<pre><code class="bash"><span class="nv">captain@ship:~$ </span>whoami
<a href="http://pirrate.me" target="_blank">Nick Shvelidze</a> - Front End / Android developer
<span class="nv">captain@ship:~$ </span>echo $HOME
<a href="https://www.google.com/maps?ll=41.73238,44.807053&spn=0.319748,0.676346&t=m&z=11" target="_blank">/Georgia/Tbilisi</a>
<span class="nv">captain@ship:~$ </span>cat /etc/motd
I <i class="icon-heart" style="color:#D15E5E"></i> Ruby
I <i class="icon-heart" style="color:#3DA639"></i> Open Source
</code></pre>
</div>
</div>

<div class="links">
	<a href="http://pirrate.me" title="Homepage" target="_blank">
	<i class="icon-home"></i> pirrate.me</a>

	<a href="http://plus.google.com/u/0/109510926758335973804" title="Google+" target="_blank">
	<i class="icon-google-plus-sign"></i> Nick Shvelidze</a>

	<a href="http://github.com/shvelo" title="GitHub" target="_blank">
	<i class="icon-github"></i> shvelo</a>

	<a href="http://twitter.com/shvelo96" title="Twitter" target="_blank">
	<i class="icon-twitter"></i> shvelo96</a>

	<a href="http://coderbits.com/shvelo" title="Coderbits" target="_blank">
	<i class="icon-code"></i> shvelo</a>

	<a href="https://www.gittip.com/shvelo/" title="Gittip" target="_blank">
	<i class="icon-gittip"></i> shvelo</a>
</div>
<div style="clear:both"></div>