<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta content="width=device-width,initial-scale=1" name="viewport">
	{% if page.excerpt %}
	<meta content="{{page.excerpt}}" name="description">
	{% else %}
	<meta content="{{site.description}}" name="description">
	{% endif %}
	<link href="{{site.baseurl}}images/icon.png" rel="icon">
	<link href="{{site.baseurl}}css/syntax.css" rel="stylesheet">
	<link href="{{site.baseurl}}css/main.css" rel="stylesheet">
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>
				<a href="{{site.baseurl}}">
					<small>Captain </small><img src="{{site.baseurl}}images/pirate.png" />Nick Shvelidze
				</a>
			</h1>
			<div id="nav">
				<ul>
					<li class="active">
						<a href="{{site.baseurl}}">Blog</a>
					</li>
					<li>
						<a href="http://pirrate.me">Homeport</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="content">
			{{ content }}
		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="http://balupton.github.io/jquery-scrollto/lib/jquery-scrollto.js"></script>
		<script src="http://browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
		<script src="http://rawgithub.com/browserstate/ajaxify/master/ajaxify-html5.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-42095995-2', 'pirrate.me');
		  ga('send', 'pageview');
		</script>
	</div>
</body>